.card-container {
   
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 10vh;
    
}

.form-container {
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 10vh;

    -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.32);
box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.32);
}