<div class="container-fluid" style="margin-top: 6vh;">
    <div class="row"><button (click)="actionBtnShowFormCadastrar($event)">Adicionar Livro</button></div>
  <div class="row" *ngIf="!showAdicionarLivro">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
              <tr style="background: #66BB6A;">                
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Autor</th>
                <th scope="col"><i class="fa fa-edit"></i></th>
                <th scope="col"><i class="fa fa-trash"></i></th>
              </tr>
            </thead>
            <tbody>                            
              <tr *ngFor="let livro of livros">                  
                  <td>{{livro.tituloLivro}}</td>
                  <td>{{livro.descricaoLivro}}</td>
                  <td>{{livro.autor}}</td>
                  <td><button (click)="actionBtnShowViewUpdate($event, livro)" class="btn btn-primary" style="width: 85%; height: 20%"><i class="fa fa-edit"></i></button></td>
                  <td><button (click)="actionBtnRemoverLivro($event, livro)" class="btn btn-danger" style="width: 85%"><i class="fa fa-trash"></i></button></td>
                </tr> 
            </tbody>
          </table>
    </div>

    <div class="col-md-2"></div>
  </div>    
  
  <div class="row" *ngIf="showAdicionarLivro">
      <div class="col-md-2"></div>
      <div class="col-md-8 justificado">
          <div class="card border-primary mb-3">
              <h5 class="card-header">{{titleView}}</h5>
              <div class="card-body">
                  <form class="">
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="inputTitulo">Título</label>
                           <input [(ngModel)]="titulo" name="titulo" type="text" class="form-control" id="inputTitulo" placeholder="Título">
                        </div>                  
                      </div>
                      <div class="form-group">
                        <label for="inputDescrição">Descrição</label>
                        <textarea type="text" [(ngModel)]="descricao" name="descricao" class="form-control" id="inputDescrição" style="height: 100px" placeholder="Descrição"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="inputAutor">Autor</label>
                        <input type="text" [(ngModel)]="autor" name="autor" class="form-control" id="inputAutor" placeholder="Nome Completo">
                      </div>
                      <div class="form-row">
                        <div class="col">
                            <label for="inputAno">Ano</label>
                            <input type="number" [(ngModel)]="ano" name="ano" class="form-control" id="inputAno" placeholder="Ano">
                        </div>                         
                        <div class="col">
                            <label for="inputPaginas">Total Paginas</label>
                            <input type="number" [(ngModel)]="totalPaginas" name="totalPaginas" class="form-control" id="inputPaginas" placeholder="Paginas">
                        </div>
                         
                      </div>
                      <br>
                      <div *ngIf="!atualizarLivro" class="form-group">
                          <button (click)="actionBtnSalvar($event)" class="btn btn-primary">Salvar</button>
                      </div>
                      <div *ngIf="atualizarLivro" class="form-group">
                          <button (click)="actionBtnAtualizar($event)" class="btn btn-primary">Atualizar</button>
                      </div>
                      
                    </form><!-- Fim do Form -->
              </div>
            </div>
      </div>
      <div class="col-md-2"></div>

  </div>
          
          
          

</div><!--Fim container-->